body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.navBar {
    padding: 15px 50px;
    margin: 20px;
    background-color: #f4976c;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px -8px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    font-size: large;
    height:10vh;
}
.navBar:hover{
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 -16px -16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.navBar button {
    border: none;
    background-color: white;
    color: #f4976c;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 20px;
}
.navBar button:hover{
    transform: translateY(-3px);
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 -16px -16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.navBar button:active {
    transform: translateY(3px);
    box-shadow: 0 -16px -16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.mainBody{
    display:table-cell;
    vertical-align:middle;
    width: 100vw;
    height: 80vh;
}
.datatable {
  
  
  margin: 0 auto;
  border-spacing: 1;
  border-radius: 8px;
}

.datatable th,
.datatable td {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #f4976c;
}
.datatablehead{
  background-color: #f4976c;
}
.datatable th:hover,
.datatable td:hover {
  background-color: #f4976c;
  border-radius: 8px;
  color: #ffffff;
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 -16px -16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
